.top {
    width: 100%;
    height: 65px;
    background-color: black;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
    z-index: 999;
    color: white;
  }
  
  .link {
    font-family: "Josefin Sans", sans-serif;
    color: white;
  }

  .topLeft,
  .topRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .topCenter {
    flex: 6;
  }
  
  .topImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }
  
  .topList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .topListItem {
    margin-left: 30px;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    list-style: none;
  }
  
  .topLogoLink {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .topLogo {
    width: 60%;
    cursor: pointer;
  }